<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.XinPdfTemplateMapper">
    
    <resultMap type="XinPdfTemplate" id="XinPdfTemplateResult">
        <result property="id"    column="id"    />
        <result property="templateName"    column="template_name"    />
        <result property="templateType"    column="template_type"    />
        <result property="pdfTemplatePath"    column="pdf_template_path"    />
        <result property="pdfTemplateCoverPath"    column="pdf_template_cover_path"    />
        <result property="picNum"    column="pic_num"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectXinPdfTemplateVo">
        select id, template_name, template_type, pdf_template_path, pdf_template_cover_path, pic_num, create_time, update_by, remark, create_by, update_time from xin_pdf_template
    </sql>

    <select id="selectXinPdfTemplateList" parameterType="XinPdfTemplate" resultMap="XinPdfTemplateResult">
        <include refid="selectXinPdfTemplateVo"/>
        <where>  
            <if test="templateName != null  and templateName != ''"> and template_name like concat('%', #{templateName}, '%')</if>
            <if test="templateType != null "> and template_type = #{templateType}</if>
            <if test="pdfTemplatePath != null  and pdfTemplatePath != ''"> and pdf_template_path = #{pdfTemplatePath}</if>
            <if test="pdfTemplateCoverPath != null  and pdfTemplateCoverPath != ''"> and pdf_template_cover_path = #{pdfTemplateCoverPath}</if>
            <if test="picNum != null "> and pic_num = #{picNum}</if>
        </where>
    </select>
    
    <select id="selectXinPdfTemplateById" parameterType="Long" resultMap="XinPdfTemplateResult">
        <include refid="selectXinPdfTemplateVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertXinPdfTemplate" parameterType="XinPdfTemplate" useGeneratedKeys="true" keyProperty="id">
        insert into xin_pdf_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateName != null">template_name,</if>
            <if test="templateType != null">template_type,</if>
            <if test="pdfTemplatePath != null">pdf_template_path,</if>
            <if test="pdfTemplateCoverPath != null">pdf_template_cover_path,</if>
            <if test="picNum != null">pic_num,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templateName != null">#{templateName},</if>
            <if test="templateType != null">#{templateType},</if>
            <if test="pdfTemplatePath != null">#{pdfTemplatePath},</if>
            <if test="pdfTemplateCoverPath != null">#{pdfTemplateCoverPath},</if>
            <if test="picNum != null">#{picNum},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateXinPdfTemplate" parameterType="XinPdfTemplate">
        update xin_pdf_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="templateName != null">template_name = #{templateName},</if>
            <if test="templateType != null">template_type = #{templateType},</if>
            <if test="pdfTemplatePath != null">pdf_template_path = #{pdfTemplatePath},</if>
            <if test="pdfTemplateCoverPath != null">pdf_template_cover_path = #{pdfTemplateCoverPath},</if>
            <if test="picNum != null">pic_num = #{picNum},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteXinPdfTemplateById" parameterType="Long">
        delete from xin_pdf_template where id = #{id}
    </delete>

    <delete id="deleteXinPdfTemplateByIds" parameterType="String">
        delete from xin_pdf_template where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>