<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.XinTemplateTypeMapper">
    
    <resultMap type="XinTemplateType" id="XinTemplateTypeResult">
        <result property="id"    column="id"    />
        <result property="templateTypeName"    column="template_type_name"    />
        <result property="templateTypeCode"    column="template_type_code"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectXinTemplateTypeVo">
        select id, template_type_name, template_type_code, create_time, update_time, create_by, update_by, remark from xin_template_type
    </sql>

    <select id="selectXinTemplateTypeList" parameterType="XinTemplateType" resultMap="XinTemplateTypeResult">
        <include refid="selectXinTemplateTypeVo"/>
        <where>  
            <if test="templateTypeName != null  and templateTypeName != ''"> and template_type_name like concat('%', #{templateTypeName}, '%')</if>
            <if test="templateTypeCode != null  and templateTypeCode != ''"> and template_type_code = #{templateTypeCode}</if>
        </where>
    </select>
    
    <select id="selectXinTemplateTypeById" parameterType="Long" resultMap="XinTemplateTypeResult">
        <include refid="selectXinTemplateTypeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertXinTemplateType" parameterType="XinTemplateType" useGeneratedKeys="true" keyProperty="id">
        insert into xin_template_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateTypeName != null">template_type_name,</if>
            <if test="templateTypeCode != null">template_type_code,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templateTypeName != null">#{templateTypeName},</if>
            <if test="templateTypeCode != null">#{templateTypeCode},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateXinTemplateType" parameterType="XinTemplateType">
        update xin_template_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="templateTypeName != null">template_type_name = #{templateTypeName},</if>
            <if test="templateTypeCode != null">template_type_code = #{templateTypeCode},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteXinTemplateTypeById" parameterType="Long">
        delete from xin_template_type where id = #{id}
    </delete>

    <delete id="deleteXinTemplateTypeByIds" parameterType="String">
        delete from xin_template_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>